<form action="#" class="product">

	<label for="code"></label>Select by Programming Language
		<select id="code" name="code" value="{{code}}">
		  	<option selected>Language</option>
		  	<option value="html">HTML</option>
		  	<option value="css">CSS</option>
		  	<option value="htmlcss">HTML and CSS</option>
		  	<option value="javascript">JavaScript</option>
		  	<option value="jquery">jQuery</option>
		  	<option value="ajax">AJAX</option>
		  	<option value="php">PHP</option>
		  	<option value="gameing">Gameing</option>
		</select>

	<label for="title">Select By Title
		<select id="title" name="title" value="{{title}}">
			<option selected>Title</option>
			<option value="css">The Book of CSS</option>
			<option value="html">HTML5 Black Book</option>
			<option value="htmlcss">HTML and CSS Tutorial</option>
			<option value="javascript">JavaScript Third Edition</option>
			<option value="jquery">jQuery in Action</option>
			<option value="ajax">Head First Ajax</option>
			<option value="php">PHP for Absolute Beginners</option>
			<option value="game-coding">Game Coding Second Edition</option>
			<option value="game-making">Game Maker</option>
		</select>
	</label>
  	<button>Submit</button>
  
</form>