<form action="#" class="product">

	<label for="code"></label>Select by Programming Language
		<select id="code" name="code" value="{{code}}">
		  	<option selected>Language</option>
		  	<option value="html">HTML</option>
		  	<option value="css">CSS</option>
		  	<option value="htmlcss">HTML and CSS</option>
		  	<option value="javascript">JavaScript</option>
		  	<option value="jquery">jQuery</option>
		  	<option value="ajax">AJAX</option>
		  	<option value="php">PHP</option>
		  	<option value="gameing">Gameing</option>
		</select>

	<label for="title">Select By Title
		<select id="title" name="title" value="{{title}}">
			<option selected>Title</option>
			<option value="css">The Book of CSS</option>
			<option value="html">HTML5 Black Book</option>
			<option value="htmlcss">HTML and CSS Tutorial</option>
			<option value="javascript">JavaScript Third Edition</option>
			<option value="jquery">jQuery in Action</option>
			<option value="ajax">Head First Ajax</option>
			<option value="php">PHP for Absolute Beginners</option>
			<option value="game-coding">Game Coding Second Edition</option>
			<option value="game-making">Game Maker</option>
		</select>
	</label>

	{{!-- <label for="textbooks">Programming Books</label>
		<select name="textbooks" id="textbooks" class="icon-menu" value="{{img}}">
		<option style="padding-left:0px;" value="">Select a Book</option>
		<option style="background-image:url(../images/html.png);" value="html">HTML</option>
		<option style="background-image:url(../images/css.png)" value="css">CSS</option>
		<option style="background-image:url(../images/html&css.png);" value="htmlcss">HTML/CSS</option>
		<option style="background-image:url(../images/ajax.png);" value="ajax">AJAX</option>
		<option style="background-image:url(../images/javascript.png);" value="javascript">Javascript</option>
		<option style="background-image:url(../images/php.png);" value="php">PHP</option>
		<option style="background-image:url(../images/jquery.png);" value="jquery">jQuery</option>
		<option style="background-image:url(../images/game-maker.png);" value="game-maker">Game Maker</option>
		<option style="background-image:url(../images/gaming-edition.png);" value="gaming-edition">Gaming</option>
	</select> --}}
  	<button>Submit</button>
  
</form>